<% if reserve.title %>
  in <span class="book"><%= reserve.title %><% if reserve.author || reserve.editor %>, <% end %></span>
  <span class="bk_creator">
  <% if reserve.author %>
    by <%= reserve.author %>
  <%  elsif reserve.editor %>
   <%= reserve.editor %> [ed.]
  <% end %>
<%= reserve.non_journal_info %>
 </span>
<% else %>
 (chapter)
<% end %>

