<%# handles the messiness of the author, title, in a chapter,  etc. %>
<span class="author"><%= reserve.chapter_author %></span>
<span class="title"><%= reserve.chapter_title %></span>
   <span class="sort_title"><%= reserve.sort_title %> </span>
<% if full %> 
<%= render partial: 'reserves/chapter_collapse',  locals: {:reserve => reserve}  %>
<% end %>
