<%# display information we have about a reserve, modulo the editable stuff %>
<div class="res_display">
&quot;<%= reserve.title %>&quot;
in <span class="title"><%= reserve.journal_title %></span>.
<%= reserve.journal_info %>
<% if reserve.issn %>ISSN: <%= reserve.issn %><% end %>

</div>
