<%# display information we have about a reserve, modulo the editable stuff %>
<% if reserve.author %>
   <span class="author"><%= reserve.author %></span>
 <% else %>
    <span class="author"></span>
<% end %>
<span class="sort_title"><%= reserve.sort_title %></span>
<span class="title"><% if !reserve.title.blank? %>&quot;<%= reserve.title.strip %>&quot;<% end %></span>
<% if full %>
<%= render partial: 'reserves/journal_collapse', locals: {:reserve => reserve} %>
<% end %>
