<%# isolate the edit icon, so we can re-use other partials %>
<span class="edit float-right btn-icon-only" title="Edit <%= reserve.tip_title %>"><a href="<%= edit_reserve_path reserve%>?course_id=<%= reserve.instance_id %>" class="edit_link float-right"><%= icon('pencil') %> </a></span> 
