<%# edit a reserve request 
FIELDS THAT CAN BE MODIFIED:
    Estimated Number of Enrolled Students: 
    Lecture/Class Date: 
    Student View Display: 
    Required Reading: 
Note to Students:

%>
<ol class="breadcrumb">
<li><a href="https://canvas.harvard.edu"><%= icon('home') %></a></li>
<li> <a href="/courses/<%= @reserve.instance_id %>/edit" class="link-icon" title="back to list">Manage <%= ENV['LTI_PROVIDER_TITLE'] %></a></li>
<li class="active">Reserve Request</li>
</ol>


<div class="row row-lti  reserves-edit">

Current Reserve: <span class="libnote dfn">(some bibliographic information may have been edited by library staff)</span>
</div>
<div class="row row-lti lti-section">

<%= render partial: 'edit_reserve', layout: 'edit_label', locals: { :reserve => @reserve, :full => true} %>
</div>
