<%# edit a reserve request 
FIELDS THAT CAN BE MODIFIED:
    Estimated Number of Enrolled Students: 
    Lecture/Class Date: 
    Student View Display: 
    Required Reading: 
Note to Students:

%>
<h2>Reserves List: Edit Reserve</h2>



Current Reserve: <span class="libnote dfn">(some bibliographic information may have been edited by library staff)</span>

<%= render partial: 'edit_reserve', layout: 'edit_label', locals: { reserve: @reserve} %>
