//styles the iframe for role descriptions within course add people
iframe.legend-roles {
  border-top: solid 3px #9c0000; 
  background: #fcfbfb; 
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15); 
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15); 
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  padding-top: 0.5em !important;
}