/*
 *  Application-wide .less manifest
 *
 *
 * 
 *= require_self
 *
  */
/*
 *= require twitter/bootstrap
*/
/*
 *= require custom_bootstrap/custom_bootstrap
*/
/*
 *= require lti-less/lti-less
*/


@import "font-awesome-sprockets";
@import "font-awesome";


//@crimson: #A51C30;
@color-ink: #1E1E1E;
@color-mortar: #8C8179;
@color-parchment: #F3F3F1;
@color-slate: #8996A0;
@color-shade: #BAC5C6;
@color-indigo: #293352;
@color-bluebonnet: #4E84C4;
@color-ivy: #52854C;
@color-pear: #C3D7A4;
@color-saffron: #D16103;
@color-creme: #F4EDCA;
@color-gold: #C4961A;
@color-lemon: #FFDB6D;

.author { color: @color-ivy; font-weight: bold; }
.title {color: @color-indigo;}

.reserves-list { font-size: 1.5em;}
.status-complete { color: @color-gold; }
.visibility { font-style: italic; }