/*
 *  Application-wide .less manifest
 *
 *
 * 
 * require_self
 *
  */
/*
 *  require twitter/bootstrap
*/
/*
 * require custom_bootstrap/custom_bootstrap
*/
/*
 * require lti-less/lti-less

*/



@color-crimson: #A51C30;
@color-ink: #1E1E1E;
@color-mortar: #8C8179;
@color-parchment: #F3F3F1;
@color-slate: #8996A0;
@color-shade: #BAC5C6;
@color-indigo: #293352;
@color-bluebonnet: #4E84C4;
@color-ivy: #52854C;
@color-pear: #C3D7A4;
@color-saffron: #D16103;
@color-creme: #F4EDCA;
@color-gold: #C4961A;
@color-lemon: #FFDB6D;


/* @import "custom_bootstrap/custom_bootstrap"; */
@import "lti-less/lti-less";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker3.css";

/*  form control corrections */
.form-control {
  display: block;
  height: 1.6em;
  padding: 1% 0.55em;
  font-size: .9em;
  line-height: 1.1em;
  color: #000;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: solid 1px #d2d2d2;
  border-radius: 5px;
  box-shadow: none;
}
.form-group {
 width: 75%;
}
.boolean .col-sm-offset-3 { margin-left: 15%;}
.boolean .col-sm-9 { width: 35%;}

.form_horizontal .checkbox { padding-left: 10px;}
 .checkbox label { padding-left: 10px;}
.form_horizontal .col-sm-9 input {margin-top: 5px; }
.checkbox label input[type="checkbox"] {margin-left: -25px; margin-top: 2px;}

.author { color: @color-indigo; font-weight: bold; }
.title {color: @color-ivy; font-weight: bold;}
.book { color: @color-mortar; font-style: italic;}
.bk_creator { color: @color-mortar;}
.journal { color: @color-mortar; font-style: italic;}

.status-complete { color: @color-gold; }
.visibility { font-style: italic; }
ul.list-with-floats li.head { background: #FFF none repeat scroll 0% 0%;}
.btn-ajax {
	 #gradient > .vertical(#ae3648,@color-crimson);
	 border: solid 1px @color-crimson;
	 color: @color-parchment;
	 padding: 2px 3px;

	 &:hover{
		background-color: @color-creme;
		color: @color-crimson;
		#gradient > .vertical(@color-parchment, @color-creme);
	}		

}
div.previous { background-color: @color-mortar; border-width: 2px;  border-color: @color-slate; padding-left: 10px; padding-top: 10px; padding-right: -5px; margin: 2px;}